<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
  <div class="container-md mt-2">
    <span>Bem-vindos!</span>
  </div>
</nav>
<div class="container-sm p-3 justify-content-center">
  <h2>Quer saber qual a sua idade baseada no seu primeiro nome?</h2>
  <div>
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">Digite seu nome:</p>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Roberta"
            [(ngModel)]="searchStr"
            name="searchStr"
            (keyup.enter)="getNameAge()"
          />
          <div class="d-grid d-md-block mt-2">
            <button class="btn btn-primary" type="button" (click)="getNameAge()">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <div>
        <div class="card text-center mt-5">
          <div class="card-body">
            <span class="card-text">
              De acordo com nosso banco, sua idade é de
              <h3>40</h3>
              anos
              <p>Baseado na amostra de </p>
          </span>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sm">
aaaaaaaaaaaaaaaaaaaaaaaaaaaa
</div>
